/* GLOBAL RESET */
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Background */
.page-bg {
  min-height: 100vh;
  background: linear-gradient(135deg, #6a7cff, #8e6ac8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px 20px;
}

/* Card */
.student-card {
  width: 100%;
  max-width: 1100px;
  background: linear-gradient(135deg, #6a7cff, #8e6ac8);  
  border-radius: 20px;
  padding: 30px 35px 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

/* Header */
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  margin: 0;
  font-weight: 700;
  color:white;
  font-size:40px;
}

.add-btn-row {
  display: flex;
  justify-content: flex-end; /* push button to right */
  margin-top: 10px;
}

/* Buttons */
.add-btn {
  background:white;  
  color:black;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  font: size 30px;
}

.add-btn:hover {
  transform: translateY(-3px);
  background: blue;  
  color:white;
}

.delete-btn {
  background: #f80b0b;
  color: white;
  font-size: 95%;
  font-style:bold;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.delete-btn:hover {
  transform: translateY(-3px);
}

.edit-btn {
  background: lightslategray;
  color: white;
  font-size: 95%;
  font-style:bold;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.edit-btn:hover {
  transform: translateY(-3px);
}

/* Table */
.table-container {
  background: #ffffff;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #e5e7eb;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: transparent;
}

thead th {
  color:black;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: none;
  background: linear-gradient(black, black) bottom / 100% 2px no-repeat;
  padding: 14px;
  
}

tbody td {
  padding: 14px;
  border-bottom: 1px solid #a19f9f;
  font-size: 16px;
}

tbody tr:hover {
  background: #eef1ff;
  transition: background 0.2s ease;
}

tbody tr:last-child td {
  border-bottom: 2px solid #171616;
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  width: 420px;
  border-radius: 14px;
  padding: 20px;
  animation: scaleIn 0.2s ease;
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


